.card {
    background-color: rgb(188, 166, 166);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }